<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="garam"
    />
    <title>LoLTFT</title>

    <!-- Bootstrap core CSS -->
    <link href="\static\dist\css\bootstrap.min.css" rel="stylesheet" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="\static\pricing.css" rel="stylesheet" />
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
      </symbol>
    </svg>

    <div class="container py-3">
      <header>
        <div
          class="
            d-flex
            flex-column flex-md-row
            align-items-center
            pb-3
            mb-4
            border-bottom
          "
        >
          <a
            href="/"
            class="d-flex align-items-center text-dark text-decoration-none"
          >
            <span class="fs-4">LoLTFT</span>
          </a>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h3 class="display-4 fw-normal">LOL / TFT 티어검색</h3>
          <form action="/search/id" method="POST">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">KR</span>
              <input
                type="text"
                class="form-control"
                placeholder="소환사 검색"
                name="summon_name"
              />
              <button class="btn btn-primary" type="submit" id="button-addon2">
                검색
              </button>
            </div>
          </form>
          {% if summon_name != null %} <h1>{{ summon_name }}</h1>
          {% else %}
          <p class="fs-5 text-muted">
            소환사명을 입력하여 협곡, 롤체 티어를 검색합니다.
          </p>
          {% endif %}
        </div>
      </header>

      <main>
        <div class="row row-cols-1 row-cols-md-2 text-center">
          <div class="col">
          <div class = "list-group">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div
                class="card-header py-3 text-white bg-primary border-primary"
              >
                <h4 class="my-0 fw-normal">협곡 ( Solo Rank )</h4>
              </div>
              <div class="card-body">
              {% if lol_list is defined %}
                <h1 class="card-title pricing-card-title">
                  {{ lol_list[0] }} {{ lol_list[1] }}<small class="text-muted fw-light"> {{ lol_list[2] }}LP</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <div class ="text-center">
                    <img src="\static\ranked-emblems\Emblem_{{ lol_list[0] }}.png" class="rounded img-fluid w-50">
                  </div>
                </ul>                
              {% else %}
                <h1 class="card-title pricing-card-title">
                  UnRanked
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <div class ="text-center">
                    <img src="\static\ranked-emblems\Emblem_.png" class="rounded img-fluid w-50">
                  </div>
                </ul>
              {% endif %}
                <div class="d-grid gap-2 d-md-block">
                  <button class="btn btn-primary" type="button">최근전적</button>
                  <button class="btn btn-primary" type="button">만난적 있을까?</button>
                </div>
              </div>
            </div>
            {% if match_list is iterable%}
            {% for match in match_list%}
            <a href="#" class="list-group-item list-group-item-{{match['win']}}">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> {{match['game_type']}} / {{match['champ']}} </h5>
                <small class="text-muted">{{match['start_time']}}</small>
              </div>
              <p class="mb-1"> KDA : {{match['kda']}} / Deal : {{match['deal']}} / CS : {{match['cs']}}</p>
              <small class="text-muted">{{match['game_time']}}</small>
            </a>
            {% endfor %}
            {% endif %}
          </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div
                class="card-header py-3 text-white bg-primary border-primary"
              >
                <h4 class="my-0 fw-normal">전략적 팀 전투 ( Solo Rank )</h4>
              </div>
              <div class="card-body">
              {% if tft_list is defined %}
                <h1 class="card-title pricing-card-title">
                  {{ tft_list[0] }} {{ tft_list[1] }}<small class="text-muted fw-light"> {{ tft_list[2] }}LP</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <div class ="text-center">
                    <img src="\static\ranked-emblems\Emblem_{{ tft_list[0] }}.png" class="rounded img-fluid w-50">
                  </div>
                </ul>
              {% else %}
                <h1 class="card-title pricing-card-title">
                  UnRanked
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <div class ="text-center">
                    <img src="\static\ranked-emblems\Emblem_.png" class="rounded img-fluid w-50">
                  </div>
                </ul>              
              {% endif %}

                <div class="d-grid gap-2 d-md-block">
                  <button class="btn btn-primary" type="button">최근전적</button>
                  <button class="btn btn-primary" type="button">만난적 있을까?</button>
                </div>
              </div>
            </div>
            {% if tft_match_list is iterable%}
            {% for match in tft_match_list%}
            <a href="#" class="list-group-item list-group-item-{{match['win']}}">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> {{match['tft_placement']}}등 </h5>
                <small class="text-muted">{{match['tft_start_time']}}</small>
              </div>
              <p class="mb-1"> {{match['tft_round']}} Round / 남은 골드 : {{match['tft_gold']}} / Deal : {{match['tft_deal']}} </p>
              <small class="text-muted">{{match['tft_time']}}</small>
            </a>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </main>
  </body>
</html>
